
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sucess{
background:green;
color:white;

}

.fail {

background:red;
color:white;

}

.info {
	padding:30px;
	background:azure;
}

h2 {
	
	font-size: 20px;
  text-align: left;
	background:aliceblue;
	padding:10px;
	margin:3px;
	font-weight: normal;
	text-transform: uppercase;
}
.req{
	
	font-size: 22px;
	text-align: center;
}