extends layout

block content
  h1= title
  p Welcome to Voice Testing Tool
  form
    input(type="text" name="urls")
    input(type="submit")


block nav
  nav(class="light-blue lighten-1" role="navigation") Api Testing


block content2
div(class="container")
    div(class="row")
    div(class="s12")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga et debitis officia sunt error omnis perferendis quia molestiae commodi quae aut adipisci ex quod iusto vero eos non quos ipsum!


block footer
    script(src="javascripts/jquery.js")
    script(src="javascripts/materialize.js")
    script(src="javascripts/init.js")




